.contato-page .dados .redes a i {
    color: var(--cor-texto-branco);
}

.contato-page .dados .titulo-destaque, .contato-page .dados .icon i  {
    color: var(--cor-texto-dourado); 
}

.contato-page .form .form-label {
    display: block;
    color: var(--cor-texto-branco);
    margin-bottom: 5px;
}

.contato-page .form .form-input {
    width: 100%;
    height: 50px; 
    padding: 10px 15px;
    background-color: var(--cor-fundo-principal);
    border: 1px solid var(--cor-texto-dourado);
    border-radius: 4px;
    color: var(--cor-texto-branco);
    box-sizing: border-box;
}

.contato-page .form textarea.form-input {
    height: auto;
    resize: vertical;
}

.contato-page .form .form-input:focus {
    outline: none;
    border-color: var(--cor-dourada); 
    box-shadow: 0 0 5px var(--cor-escura);
}

.contato-page .form .btn-enviar {
    display: block;
    margin-left: auto;
    border: 1px solid var(--cor-dourada);
    background-color: var(--cor-dourada);
    color: var(--cor-texto-escuro); 
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--open-sans);
    font-weight: var(--semibold);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.contato-page .form .btn-enviar:hover {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-dourado);
    border-color: var(--cor-texto-dourado);
}