@media screen and (max-width: 767px) {
    .advogados ul{
        flex-direction: column;
        gap: 70px;
    }

    .areas .guia{
        justify-content: center;
    }

    .carrossel .logo{
        width: 250px;
    }
}