:root {
    /* Cores Base */
    --cor-clara: #FFFFFF;
    --cor-dourada: #B69D74;
    --cor-escura: #181E2B;

    /* Fundo */
    --cor-fundo-principal: #263043;
    --cor-fundo-escuro: #181E2B;
    --cor-fundo-claro: #DADADF;
    --cor-fundo-dourado: #B69D74;

    /* Texto */
    --cor-texto-dourado: #B69D74;
    --cor-texto-branco: #FFFFFF;
    --cor-texto-escuro: #181E2B;

    /* Cores de Borda e Sombra */
    --cor-borda: #dee2e6;
    --cor-sombra: rgba(0, 0, 0, 0.1);

    /* Fontes */
    --open-sans: "Open Sans", sans-serif;
    --eb-garamond:  "EB Garamond", serif;

    /* Fontes tamanhos */
    --semibold: 600;
    --regular: 400;

    
    /* Espaçamentos */

}

body{
    background-color: var(--cor-fundo-principal);
    display: grid;
    grid-template-rows: auto 1fr auto; 
}

main{
    overflow-x: hidden;
}

.titulo-destaque {
    font-family: var(--open-sans);
    font-weight: var(--semibold);
    color: var(--cor-texto-dourado);
    font-size: clamp(40px, 2.86vw, 55px);
}

.titulo {
    font-family: var(--open-sans);
    font-weight: var(--semibold);
    font-size: clamp(28px, 1.82vw, 35px);
}

.subtitulo {
    font-family: var(--open-sans);
    font-weight: var(--semibold);
    font-size: clamp(18px, 1.15vw, 22px);
}

.texto-medio {
    font-family: var(--eb-garamond);
    font-weight: var(--regular);
    font-size: clamp(14px, 0.99vw, 19px);
}

.texto {
    font-family: var(--eb-garamond);
    font-weight: var(--regular);
    font-size: clamp(14px, 0.83vw, 16px);
}

html {
    scroll-padding-top: 99px;
    scroll-behavior: smooth;
}

.areas, .advogados, .escritorio, .footer, .contato-page, .sobre-page .sobre{
    padding: 90px 40px;
}

.header{
    padding: 0 40px;
}

@media screen and (max-width: 767px) {
    .moba-hidden{
        display: none;
    }

    footer .footer-cont{
        flex-direction: column;
        gap: 70px ;
    }

    footer .footer-sec{
        width: 100%!important;
    }

    .resposive-guia-img{
        height: 200px!important;
    }

    footer .logo{
        height: 50px!important;
    }
}

@media screen and (max-width: 1023px) {

    footer .footer-sec{
        width: 200px;
    }

    footer .logo{
        height: 30px;
    }

    .resposive-guia-img{
        height: 300px;
    }

    .resposive-img{
        height: 300px!important;
    }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translate(-50%, -30%); /* Move 10% para cima (de -50% para -60%) */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Posição final centralizada */
  }
}

.animate-fade-slide {
  animation: fade-slide-in 1.5s ease-out 0s 1 normal forwards;
}
