.sobre-page .segmento{
    font-family: var(--open-sans)!important;
}

.sobre-page .advogados{
    background-color: var(--cor-fundo-claro);
}

.sobre-page .line {
    width: 100%;
    height: 1px;
    background-color: var(--cor-fundo-principal);
    opacity: 0.2;
}

